
html,div,h1,h2,h3,h4,h5,h6,ul,li,img {
    margin: 0;
    font-family: "Segoe UI"; 
}
.bg-nav{
    background-color: #495f8c;
}
.head-cnt {
    margin-left: 10px;
    font-weight: bold;
    font-size: 33px !important;
    text-align: left;
    color: #f25c05 !important;
    text-decoration: none;
}
.today{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    color: #495f8c;

}
.card{
    max-height: 150px;
    border-radius: 30px !important;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: transform .8s;

}
.card:hover{
    transform: scale(1.08);
}

.card-title{
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    text-align: left;
    color: #f29f05;
}
.card-text{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: right;
    color: #495f8c;
}
.dtl-card{
    margin: 0 auto;
    min-height: 270px;
    max-width: 450px !important;
}
.dtl-r{
    text-align: left;
}
.dtl-l{
    text-align: right;
}
.text-muted{
    font-size: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: #f25c05;
}
.main-tag {
    width: 360px;
    height: 194px;

}


.chart-love {
    margin: 0 auto;
    max-height: 400px;
    max-width: 400px;
}
.detail-tit{
    font-size: 1.08rem;
}
.title-num{
    color: #f25c05;
    font-size: 1.08rem;
}


.container {
    margin-bottom: 80px;
}

.text-now {
    margin-top: 40px;
}

.container-fluid {
    margin: 60px;
}

.chartName {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #F25C05;
}

.fas {
    color: red !important;
}
